blockquote > p {
    margin: 0;
}

.alice,
.bob {
    display: inline-block;
    vertical-align: top;
    width: 37%;
    padding: 0;
}

.alice > p,
.bob > p {
    font-style: italic;
    margin-bottom: 0.2em;
}

/* Style shamelessly copied from Notion */
.comment {
    background: rgba(255, 212, 0, 0.14);
    border-bottom: 2px solid rgb(255, 212, 0);
    padding-bottom: 2px;
    position: relative;
}

.overlap {
    background: rgba(255, 212, 0, 0.56);
}

.comment .popup {
    font-size: 80%;
    position: absolute;
    background: rgba(255, 212, 0, 0.14);
    top: 2rem;
    left: 2rem;
    white-space: nowrap;
    padding: 2px 6px;
}

.comment .line {
    position: absolute;
    top: 1.4rem;
    width: 2rem;
    height: 2rem;
    border-left: 2px solid rgb(255, 212, 0);
    border-bottom: 2px solid rgb(255, 212, 0);
}

/* Peritext figure ------------- */

.peritext-demo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.peritext-demo .editor-container {
    background-color: #ddd;
    flex: 1 0 0;
    min-width: 300px;
    height: 250px;
    background: #f2f2f2;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 20px 0;
}

.peritext-demo .editor {
    border: solid thin #000;
    border-radius: 5px;
    min-height: 60px;
    background: #fff;
    padding: 5px;
}

.peritext-demo .buttons {
    height: 30px;
    margin-bottom: 5px;
    display: flex;
}

.peritext-demo .button {
    width: 20px;
    margin: 5px;
    padding-right: 5px;
    border-right: solid thin #bbb;
    user-select: none;
}

.peritext-demo .button:last-child {
    border-right: none;
}

.peritext-demo .button.link {
    margin-top: 1px;
}

.peritext-demo #alice {
    border-top: solid 5px #e08b8b;
}

.peritext-demo #bob {
    border-top: solid 5px #00c2ff;
}

.peritext-demo .sync-container {
    width: 50px;
    margin: 20px;
    margin-top: 70px;
    height: 100px;
    box-sizing: border-box;
}

.peritext-demo .sync-indicator {
    display: none;
    color: #999;
    font-family: sans-serif;
    font-size: 12px;
    animation: fadeIn 200ms;
}

.peritext-demo .changes {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    left: 0px;
}

@keyframes slideLeft {
    from {
        left: 0px;
        opacity: 100%;
    }

    to {
        left: 500px;
        opacity: 30%;
    }
}

@keyframes slideRight {
    from {
        left: 0px;
        opacity: 100%;
    }

    to {
        left: -500px;
        opacity: 30%;
    }
}

.peritext-demo #alice .syncing {
    animation-duration: 1s;
    animation-name: slideLeft;
}

.peritext-demo #bob .syncing {
    animation-duration: 1s;
    animation-name: slideRight;
}

.peritext-demo .changes .op {
    height: 20px;
    padding: 2px 5px;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 3px;
    color: white;
    animation: fadeIn 200ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.peritext-demo #alice .changes .op {
    background-color: #e08b8b;
}
.peritext-demo #bob .changes .op {
    background-color: #00c2ff;
}
