.editors-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.editor {
    flex-basis: 50%;
}

.editor:first-child {
    margin-right: 10px;
}

#toggle-connect {
    margin-bottom: 20px;
}
